/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 10px 20px;
}

.topbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.logo img {
  height: 50px;
}

.search input {
  padding: 6px;
  border-radius: 20px;
  border: none;
}

.container {
  display: flex;
  padding: 30px;
  gap: 40px;
}

.articles {
  flex: 2;
}

.news-card {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.news-card img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.news-card h3 {
  margin: 0;
}

.news-card a {
  text-decoration: none;
  color: black;
}

.videos {
  flex: 1;
}

.video-card {
  margin-bottom: 25px;
}

.video-card img {
  width: 100%;
  border-radius: 10px;
}

.video-card h4 {
  margin: 8px 0 0;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}
